### Importing required Libraries

In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import time
import datetime

### Reading and Understanding Data

In [56]:
rta_data = pd.read_csv('RTA Dataset.csv')
rta_data.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,17:02:00,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury
1,17:02:00,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
2,17:02:00,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Going straight,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury
3,1:06:00,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Going straight,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
4,1:06:00,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury

In [57]:
rta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12316 entries, 0 to 12315
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Time                         12316 non-null  object
 1   Day_of_week                  12316 non-null  object
 2   Age_band_of_driver           12316 non-null  object
 3   Sex_of_driver                12316 non-null  object
 4   Educational_level            11575 non-null  object
 5   Vehicle_driver_relation      11737 non-null  object
 6   Driving_experience           11487 non-null  object
 7   Type_of_vehicle              11366 non-null  object
 8   Owner_of_vehicle             11834 non-null  object
 9   Service_year_of_vehicle      8388 non-null   object
 10  Defect_of_vehicle            7889 non-null   object
 11  Area_accident_occured        12077 non-null  object
 12  Lanes_or_Medians             11931 non-null  object
 13  Road_allignment              12174 non-null  object
 14  Types_of_Junction            11429 non-null  object
 15  Road_surface_type            12144 non-null  object
 16  Road_surface_conditions      12316 non-null  object
 17  Light_conditions             12316 non-null  object
 18  Weather_conditions           12316 non-null  object
 19  Type_of_collision            12161 non-null  object
 20  Number_of_vehicles_involved  12316 non-null  int64
 21  Number_of_casualties         12316 non-null  int64
 22  Vehicle_movement             12008 non-null  object
 23  Casualty_class               12316 non-null  object
 24  Sex_of_casualty              12316 non-null  object
 25  Age_band_of_casualty         12316 non-null  object
 26  Casualty_severity            12316 non-null  object
 27  Work_of_casuality            9118 non-null   object
 28  Fitness_of_casuality         9681 non-null   object
 29  Pedestrian_movement          12316 non-null  object
 30  Cause_of_accident            12316 non-null  object
 31  Accident_severity            12316 non-null  object
dtypes: int64(2), object(30)
memory usage: 3.0+ MB

### Let's do EDA

Let's understand the distribution of target variable

In [76]:
rta_data.Accident_severity.value_counts()

Slight Injury     10415
Serious Injury     1743
Fatal injury        158
Name: Accident_severity, dtype: int64

As I have searched online, I found out the peak traffic in Addis Ababa city is in morining ang evening and roughly lasts for 2-3 hours, so it is advisible to divide Time column in buckets of 3 hours starting from 0800 hours.

In [58]:
rta_data["Time"] = pd.to_datetime(rta_data["Time"])

In [59]:
def divide_time(time_):
    time_ = time_.to_pydatetime().time()
    first = time(8, 0, 0)
    second = time(11, 0, 0)
    third = time(14, 0, 0)
    forth = time(17, 0, 0)
    fifth = time(20, 0, 0)
    sixth = time(23, 0, 0)
    seventh = time(2, 0, 0)
    eighth = time(5, 0, 0)
    if time_ >= first and time_ < second:
        return "first"
    elif time_ >= second and time_ < third:
        return "second"
    elif time_ >= third and time_ < forth:
        return "third"
    elif time_ >= forth and time_ < fifth:
        return "forth"
    elif time_ >= fifth and time_ < sixth:
        return "fifth"
    elif time_ >= sixth and time_ < seventh:
        return "sixth"
    elif time_ >= seventh and time_ < eighth:
        return "seventh"
    else: 
        return "eighth"

In [60]:
rta_data.Time = rta_data.Time.apply(divide_time)

In [61]:
rta_data.head()

,Time,Day_of_week,Age_band_of_driver,Sex_of_driver,Educational_level,Vehicle_driver_relation,Driving_experience,Type_of_vehicle,Owner_of_vehicle,Service_year_of_vehicle,...,Vehicle_movement,Casualty_class,Sex_of_casualty,Age_band_of_casualty,Casualty_severity,Work_of_casuality,Fitness_of_casuality,Pedestrian_movement,Cause_of_accident,Accident_severity
0,forth,Monday,18-30,Male,Above high school,Employee,1-2yr,Automobile,Owner,Above 10yr,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Moving Backward,Slight Injury
1,forth,Monday,31-50,Male,Junior high school,Employee,Above 10yr,Public (> 45 seats),Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury
2,forth,Monday,18-30,Male,Junior high school,Employee,1-2yr,Lorry (41?100Q),Owner,NaN,...,Going straight,Driver or rider,Male,31-50,3,Driver,NaN,Not a Pedestrian,Changing lane to the left,Serious Injury
3,eighth,Sunday,18-30,Male,Junior high school,Employee,5-10yr,Public (> 45 seats),Governmental,NaN,...,Going straight,Pedestrian,Female,18-30,3,Driver,Normal,Not a Pedestrian,Changing lane to the right,Slight Injury
4,eighth,Sunday,18-30,Male,Junior high school,Employee,2-5yr,NaN,Owner,5-10yrs,...,Going straight,na,na,na,na,NaN,NaN,Not a Pedestrian,Overtaking,Slight Injury

In [62]:
rta_data.Time.value_counts()

forth      2892
third      2434
second     2066
first      1887
fifth      1407
eighth     1371
seventh     259
Name: Time, dtype: int64

In [63]:
rta_data.Day_of_week.value_counts()

Friday       2041
Thursday     1851
Wednesday    1840
Tuesday      1770
Monday       1681
Saturday     1666
Sunday       1467
Name: Day_of_week, dtype: int64

In [64]:
rta_data.Age_band_of_driver.value_counts()

18-30       4271
31-50       4087
Over 51     1585
Unknown     1548
Under 18     825
Name: Age_band_of_driver, dtype: int64

In [65]:
rta_data.Age_band_of_driver.replace('Unknown', None, inplace=True)

In [66]:
rta_data.Age_band_of_driver.value_counts()

18-30       4271
31-50       4087
Over 51     1585
Under 18     825
Name: Age_band_of_driver, dtype: int64

In [67]:
rta_data.Sex_of_driver.value_counts()

Male       11437
Female       701
Unknown      178
Name: Sex_of_driver, dtype: int64

In [68]:
rta_data.Sex_of_driver.replace('Unknown', None, inplace=True)

In [69]:
rta_data.Educational_level.value_counts()

Junior high school    7619
Elementary school     2163
High school           1110
Above high school      362
Writing & reading      176
Unknown                100
Illiterate              45
Name: Educational_level, dtype: int64

In [70]:
rta_data.Educational_level.replace('Unknown', None, inplace=True)

In [71]:
rta_data.Vehicle_driver_relation.value_counts()

Employee    9627
Owner       1973
Other        123
Unknown       14
Name: Vehicle_driver_relation, dtype: int64

In [72]:
rta_data.Vehicle_driver_relation.replace('Unknown', None, inplace=True)

In [73]:
rta_data.Driving_experience.value_counts()

5-10yr        3363
2-5yr         2613
Above 10yr    2262
1-2yr         1756
Below 1yr     1342
No Licence     118
unknown         33
Name: Driving_experience, dtype: int64

In [20]:
rta_data.Driving_experience.replace('unknown', None, inplace=True)

In [21]:
rta_data.Type_of_vehicle.value_counts()

Automobile              3205
Lorry (41?100Q)         2186
Other                   1208
Pick up upto 10Q         811
Public (12 seats)        711
Stationwagen             687
Lorry (11?40Q)           541
Public (13?45 seats)     532
Public (> 45 seats)      404
Long lorry               383
Taxi                     265
Motorcycle               177
Special vehicle           84
Ridden horse              76
Turbo                     46
Bajaj                     29
Bicycle                   21
Name: Type_of_vehicle, dtype: int64

In [22]:
rta_data.Owner_of_vehicle.value_counts()

Owner           10459
Governmental     1041
Organization      312
Other              22
Name: Owner_of_vehicle, dtype: int64

In [23]:
rta_data.Service_year_of_vehicle.value_counts()

Unknown       2883
2-5yrs        1792
Above 10yr    1324
5-10yrs       1280
1-2yr          827
Below 1yr      282
Name: Service_year_of_vehicle, dtype: int64

In [24]:
rta_data.Service_year_of_vehicle.replace('Unknown', None, inplace=True)

In [25]:
rta_data.Defect_of_vehicle.value_counts()

No defect    7777
7              76
5              36
Name: Defect_of_vehicle, dtype: int64

In [26]:
rta_data.Area_accident_occured.value_counts()

Other                              3819
Office areas                       3451
Residential areas                  2060
 Church areas                      1060
 Industrial areas                   456
School areas                        415
  Recreational areas                327
 Outside rural areas                218
 Hospital areas                     121
  Market areas                       63
Rural village areas                  44
Unknown                              22
Rural village areasOffice areas      20
Recreational areas                    1
Name: Area_accident_occured, dtype: int64

In [27]:
rta_data.Area_accident_occured.replace('Unknown', None, inplace=True)

In [28]:
rta_data.Lanes_or_Medians.value_counts()

Two-way (divided with broken lines road marking)    4411
Undivided Two way                                   3796
other                                               1660
Double carriageway (median)                         1020
One way                                              845
Two-way (divided with solid lines road marking)      142
Unknown                                               57
Name: Lanes_or_Medians, dtype: int64

In [29]:
rta_data.Area_accident_occured.replace('Unknown', None, inplace=True)

In [30]:
rta_data.Road_allignment.value_counts()

Tangent road with flat terrain                   10459
Tangent road with mild grade and flat terrain      501
Steep grade downward with mountainous terrain      429
Tangent road with mountainous terrain and          396
Gentle horizontal curve                            163
Escarpments                                        113
Sharp reverse curve                                 57
Tangent road with rolling terrain                   37
Steep grade upward with mountainous terrain         19
Name: Road_allignment, dtype: int64

In [31]:
rta_data.Types_of_Junction.value_counts()

Y Shape        4543
No junction    3837
Crossing       2177
Other           445
Unknown         191
O Shape         164
T Shape          60
X Shape          12
Name: Types_of_Junction, dtype: int64

In [32]:
rta_data.Types_of_Junction.replace('Unknown', None, inplace=True)

In [33]:
rta_data.Road_surface_type.value_counts()

Asphalt roads                       11296
Earth roads                           358
Gravel roads                          242
Other                                 167
Asphalt roads with some distress       81
Name: Road_surface_type, dtype: int64

In [34]:
rta_data.Road_surface_conditions.value_counts()

Dry                     9340
Wet or damp             2904
Snow                      70
Flood over 3cm. deep       2
Name: Road_surface_conditions, dtype: int64

In [35]:
rta_data.Light_conditions.value_counts()

Daylight                   8798
Darkness - lights lit      3286
Darkness - no lighting      192
Darkness - lights unlit      40
Name: Light_conditions, dtype: int64

In [36]:
rta_data.Weather_conditions.value_counts()

Normal               10063
Raining               1331
Other                  296
Unknown                292
Cloudy                 125
Windy                   98
Snow                    61
Raining and Windy       40
Fog or mist             10
Name: Weather_conditions, dtype: int64

In [37]:
rta_data.Weather_conditions.replace('Unknown', None, inplace=True)

In [38]:
rta_data.Type_of_collision.value_counts()

Vehicle with vehicle collision             8774
Collision with roadside objects            1786
Collision with pedestrians                  896
Rollover                                    397
Collision with animals                      171
Collision with roadside-parked vehicles      54
Fall from vehicles                           34
Other                                        26
Unknown                                      14
With Train                                    9
Name: Type_of_collision, dtype: int64

In [39]:
rta_data.Type_of_collision.replace('Unknown', None, inplace=True)

In [40]:
rta_data.Number_of_vehicles_involved.value_counts()

2    8340
1    1996
3    1568
4     363
6      42
7       7
Name: Number_of_vehicles_involved, dtype: int64

In [41]:
rta_data.Number_of_casualties.value_counts()

1    8397
2    2290
3     909
4     394
5     207
6      89
7      22
8       8
Name: Number_of_casualties, dtype: int64

In [42]:
rta_data.Vehicle_movement.value_counts()

Going straight         8158
Moving Backward         985
Other                   937
Reversing               563
Turnover                489
Getting off             339
Entering a junction     193
Overtaking               96
Unknown                  88
Stopping                 61
U-Turn                   50
Waiting to go            39
Parked                   10
Name: Vehicle_movement, dtype: int64

In [43]:
rta_data.Casualty_class.value_counts()

Driver or rider    4944
na                 4443
Pedestrian         1649
Passenger          1280
Name: Casualty_class, dtype: int64

In [44]:
rta_data.Casualty_class.replace('na', None, inplace=True)

In [45]:
rta_data.Sex_of_casualty.value_counts()

Male      5253
na        4443
Female    2620
Name: Sex_of_casualty, dtype: int64

In [46]:
rta_data.Sex_of_casualty.replace('na', None, inplace=True)

In [47]:
rta_data.Age_band_of_casualty.value_counts()

na          4443
18-30       3145
31-50       2455
Under 18    1035
Over 51      994
5            244
Name: Age_band_of_casualty, dtype: int64

In [48]:
rta_data.Age_band_of_casualty.replace('na', None, inplace=True)
rta_data.Age_band_of_casualty.replace('5', None, inplace=True)

In [49]:
rta_data.Casualty_severity.value_counts()

3     7076
na    4443
2      771
1       26
Name: Casualty_severity, dtype: int64

In [50]:
rta_data.Casualty_severity.replace('na', None, inplace=True)

In [51]:
rta_data.Work_of_casuality.value_counts()

Driver           5903
Self-employed    2044
Employee          553
Other             463
Student           103
Unemployed         33
Unknown            19
Name: Work_of_casuality, dtype: int64

In [52]:
rta_data.Work_of_casuality.replace('Unknown', None, inplace=True)

In [53]:
rta_data.Fitness_of_casuality.value_counts()

Normal          9608
NormalNormal      19
Deaf              18
Other             18
Blind             18
Name: Fitness_of_casuality, dtype: int64

In [54]:
rta_data.Pedestrian_movement.value_counts()

Not a Pedestrian                                                                                                                         11390
Crossing from nearside - masked by parked or statioNot a Pedestrianry vehicle                                                              337
Unknown or other                                                                                                                           293
Crossing from driver's nearside                                                                                                            140
Crossing from offside - masked by  parked or statioNot a Pedestrianry vehicle                                                               72
In carriageway, statioNot a Pedestrianry - not crossing  (standing or playing)                                                              46
Walking along in carriageway, back to traffic                                                                                               18
In carriageway, statioNot a Pedestrianry - not crossing  (standing or playing) - masked by parked or statioNot a Pedestrianry vehicle       13
Walking along in carriageway, facing traffic                                                                                                 7
Name: Pedestrian_movement, dtype: int64

In [74]:
rta_data.Cause_of_accident.value_counts()

No distancing                           2263
Changing lane to the right              1808
Changing lane to the left               1473
Driving carelessly                      1402
No priority to vehicle                  1207
Moving Backward                         1137
No priority to pedestrian                721
Other                                    456
Overtaking                               430
Driving under the influence of drugs     340
Driving to the left                      284
Getting off the vehicle improperly       197
Driving at high speed                    174
Overturning                              149
Turnover                                  78
Overspeed                                 61
Overloading                               59
Drunk driving                             27
Unknown                                   25
Improper parking                          25
Name: Cause_of_accident, dtype: int64

Slight Injury     10415
Serious Injury     1743
Fatal injury        158
Name: Accident_severity, dtype: int64